<!doctype html>
<body>
  <header id="top">
    <h1>web app from scratch - class of 2020</h1>
    <h2>participants</h2>
    <nav>
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#stats">yeet</a></li>
      </ul>
      <form method="get" action="/search">
        <label>
          Zoeken
          <input type="search" name="query">
        </label>
      </form>
    </nav>
  </header>
