<!doctype html>
<body>
  <header id="top">
    <h1>Minor Web Development</h1>
    <h2>participants</h2>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
      <form method="get" action="/search">
        <label>
          Zoeken
          <input type="search" name="query">
        </label>
      </form>
    </nav>
  </header>
