<!doctype html>
<body>
  <header class="header" id="top">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
      <form method="get" action="/search">
        <label>
          Zoek naar een student
          <input type="search" name="query">
        </label>
      </form>
    </nav>
    <h1 class="headerTitle">Minor Web Development</h1>
  </header>
